<div class="col-md-9">
<div class="card-body">
    <div class="card-header">
        <strong>Create Article</strong> Elements
      </div>
<form  (ngSubmit)="onSubmit(f)" #f="ngForm" enctype="multipart/form-data" method="post">
  
                <!--Full Name -->
                <div class="row">
                  <!-- <label  class="col-sm-5"></label> -->
                  <div class="form-group col-sm-11">
                    
                    <div class="col-md-9">
                    <label >title</label>
                    <input type="text" rows="3" class="form-control"  #art="ngModel" id="title" placeholder="Input title here" [(ngModel)]="title" name="title" required>
                    </div>
                    <div class="col-md-9">
                    <label >content</label>
                    <textarea type="text" rows="9" class="form-control"  #art="ngModel" id="body" placeholder="Input content here" [(ngModel)]="body" name="body" required></textarea>
                    </div>
                    <div class="col-md-4">
                    <label >Category</label>
                  
                    <!-- <input type="number" class="form-control"  #art="ngModel" id="category" placeholder="Input category here" [(ngModel)]="category" name="category" required>  -->
                    
                        <select id="select" class="form-control"  #art="ngModel" id="category" placeholder="Input category here" [(ngModel)]="category" name="category" required>
                          <option value="1">Addiction</option>
                          <option value="2">Marrige</option>
                          <option value="3">Health</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                      <button type="submit" class="btn btn-sm btn-primary"  [disabled] ="!f.valid"><i class="fa fa-dot-circle-o"></i> Submit</button>
                      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    </div>
                <!-- <button type="submit"  class="btn btn-success  btn-lg pull-left" (click)="largeModal.hide()"  [disabled] ="!f.valid">post</button>
                   -->
                <!--</div>-->
                <!--submit button-->
  
                <!--<button type="submit" (click)="addFile()" class="btn btn-primary">Upload</button>-->
              </form>
            </div></div>