<div class="animated fadein">
  <!-- Table content wrapper-->
  <!-- <div class="row"> -->
  <div class="col-md-12">
  
  <h3> List of Testimonies by date</h3><br>
  
  
  <button type="button" class="btn btn-warning pull-right " data-toggle="modal" (click)="largeModal.show()">
          Add Testimony
        </button>
  <div>
    
        <!--<div class="form-group">-->
          <!--<input class="form-control col-sm-6" [(ngModel)]="term" placeholder="Search contacts here..." type="text">-->
        <!--</div>-->
        <div class="row">
      <div class="col-lg-11">
      
  
       <div  *ngFor="let testimony of this.Testimony_list_paginator.data  let i = index ;">
  
       <div class="card">
       
  <div class="card-header"> <h4> {{i + Testimony_list_paginator.from }}  {{testimony.title}}</h4> <code> </code>  <small>created by: {{testimony.user.name}}</small>
  
  </div>
  <h4 class="card-title mb-0"></h4>
  <div class="small text-muted">{{testimony.created_at}}</div>
  <div class="card-body">
  
      <div class="row text-center">
  
        <br>
         
      {{testimony.body}} <br>
        
     
    
      
  </div></div><div class="card-footer">
        <span class="btn btn-info pull-left">    <a  data-toggle="modal" (click)="editModal.show(); onedit(testimony)"><i class="fa fa-edit"></i>&nbsp;Edit</a></span>
        
      </div></div>
  
      <br>
      </div> </div> </div>
      
        <nav>
        <!--
         pagination works here!!!
                -->
          <ul class="pagination">
            <li *ngIf="Testimony_list_paginator.first_page_url"  class="page-item"><a  (click)="getPaginatedTestimony(Testimony_list_paginator.first_page_url)" class="btn-link" >First</a></li>
            <li *ngIf="Testimony_list_paginator.prev_page_url"  class="page-item"><a  (click)="getPaginatedTestimony(Testimony_list_paginator.prev_page_url)" class="btn-link" >Prev</a></li>
            <li class="page-item active">
              <a class="page-link" >{{Testimony_list_paginator.current_page + '/' + Testimony_list_paginator.last_page}}</a>
            </li>
  
  
            <li *ngIf="Testimony_list_paginator.next_page_url"  class="page-item"><a  (click)="getPaginatedTestimony(Testimony_list_paginator.next_page_url)" class="page-link" >Next</a></li>
            <li *ngIf="Testimony_list_paginator.last_page_url"  class="page-item"><a  (click)="v(Testimony_list_paginator.prev_page_url)" class="page-link" >Last</a></li>
  
          </ul>
        </nav>
      </div>
    
  
  <!--/.col-->
  </div>
  
  <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Testimony</h4>
        <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
          <!--Card in the modal-->
          <div class="card">
            <div class="card-header">
              <strong>Write New Testimony</strong>
  
            </div>
            <div class="card-body">
              
              <!--Form in the modal-->

              <form  (ngSubmit)="onSubmit(f)" #f="ngForm" enctype="multipart/form-data" method="post">
  
                <!--Full Name -->
                <div class="row">
                  <!-- <label  class="col-sm-5"></label> -->
                  <div class="form-group col-sm-11">
                    <label >Testimony</label>
                    <label >title</label>
                    <input type="text" class="form-control"  #art="ngModel" id="title" placeholder="Input title here" [(ngModel)]="title" name="title" required>
                    <label >content</label>
                    <textarea type="textarea" class="form-control"  #art="ngModel" id="body" placeholder="Input content here" [(ngModel)]="body" name="body" required></textarea>
                    <!-- <label >Approval</label> -->
                    <br>
                    <!-- <input type="number" class="form-control"  #art="ngModel" id="approval" [(ngModel)]="approval" name="approval" required> -->
                    <div class="col-md-9">
                        <label class="radio-inline" for="inline-radio1">
                          <input type="radio"  value="0" class="form-control"  #art="ngModel" id="approval" [(ngModel)]="approval" name="approval" required> 
                          Disapprove
                        </label>
                        <label class="radio-inline" for="inline-radio2">
                          <input type="radio" value="1" [ngModelOptions]="{standalone: true}" class="form-control"  #art="ngModel" id="approval" [(ngModel)]="approval" name="approval" required required>
                           Approve
                        </label>
                      </div>
                  </div>
                </div>
                <button type="submit"  class="btn btn-success  btn pull-left" (click)="largeModal.hide()"  [disabled] ="!f.valid">POST</button>
                  
                <!--</div>-->
                <!--submit button-->
  
                <!--<button type="submit" (click)="addFile()" class="btn btn-primary">Upload</button>-->
              </form>
  
  
            </div>
          </div>
        </div><!--/.col-->
  
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  
  <!--Edit modal-->
  <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Testimony</h4>
        <button type="button" class="close" (click)="editModal.hide() " aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <strong>Modify Testimony written by:</strong>
  
            </div>
            <div class="card-body">
            
              <!--edit modal form-->
              <form  (ngSubmit)="onupdate(edit)" #edit="ngForm" enctype="multipart/form-data" method="post">
                <!--Full Name -->
                <div class="row">
                  <label  class="col-sm-7"></label>
                  <div class="form-group col-sm-11">
                      <label for="vat">Title</label>
                      <input type="text" class="form-control"  #art="ngModel" id="title" placeholder="title" [(ngModel)]="Testimonynew.title" name="title" required>
                      <label for="vat">Content</label>
                    <input id="textarea-input" type="text" class="form-control"  #art="ngModel" id="body" placeholder="write content" [(ngModel)]="Testimonynew.body" name="body" required>
                    <label for="vat">Approve</label>
                    <!-- <input type="boolean" class="form-control"  #art="ngModel" id="approval" placeholder="write content" [(ngModel)]="Testimonynew.approval" name="approval" required> -->
                    <div class="col-md-9">
                        <label class="radio-inline" for="inline-radio1">
                          <input type="radio" id="inline-radio1" value="0" class="form-control"  #art="ngModel" id="approval"  [(ngModel)]="Testimonynew.approval" name="approval" required> 
                          Disapprove
                        </label>
                        <label class="radio-inline" for="inline-radio2">
                          <input type="radio" id="inline-radio2"  value="1" class="form-control"  #art="ngModel" id="approval" [(ngModel)]="Testimonynew.approval" [ngModelOptions]="{standalone: true}" required>
                           Approve
                        </label>
                      </div>
                  
                  </div>
  
                </div>
                <button type="submit" class="btn btn-success pull-left" (click)="editModal.hide()" [disabled] ="!edit.valid">UPDATE</button>
              </form>
  
              <button class="btn btn-danger pull-left" margin="1px"  (click)="ondelete(testimony); editModal.hide()">Delete </button>
              <!--<popup  #popup1>-->
              <!--Add your own html elements here-->
              <!--</popup>-->
  
            </div>
          </div>
        </div><!--/.col-->
  
      </div>
      <div class="modal-footer">
        <small>  press update to update the testimony or <a href="http://localhost:4200/#/components/testimony-write">Press here for more</a></small>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  </div>
    <!-- Contact List table-->
        <!-- <table class="table table-striped table-hover table-condensed table-sm">
          <thead>
          <tr>
            <th>No</th>
            <th>Title</th>
            <th>Testimony</th>
            <th>created-on</th>
            <th>updated-on</th>
            <th>Category</th>
            <th>Writer</th>
            <th>image</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let testimony of this.Testimony_list_paginator.data  let i = index ;">
            
            <td>{{i + Testimony_list_paginator.from }}</td>
            <td>{{testimony.title}} </td>
            <td>{{testimony.body}}</td>
            <td>{{testimony.created_at}}</td>
            <td>{{testimony.updated_at}}</td>
            <td>{{testimony.category_id}}</td>
            <td>{{testimony.user_id}}</td>
            <td>{{testimony.cover_image}}</td>
            <td>
              <span class="badge badge-success">    <a  data-toggle="modal" (click)="editModal.show(); onedit(testimony)"><i class="fa fa-edit"></i>&nbsp;Edit Info</a></span>
  
            </td>
          </tr>
  
          </tbody>
        </table> -->