<div class="animated fadein">
    <div class="col-md-12">
<h1>The Disapproved testimonies</h1>
<code>(not accepted for Display)</code>

<div class="row">
    <div class="col-lg-11">
        <div  *ngFor="let testimony of this.Testimony_list_paginator.data  let i = index ;">
            
                 <div class="card">
                 
            <div class="card-header"> <h4> {{i + Testimony_list_paginator.from }}  {{testimony.title}}</h4> <code> </code>  <small>created by: {{testimony.user.name}}</small>
            
            </div>
            <h4 class="card-title mb-0"></h4>
            <div class="small text-muted">{{testimony.created_at}}</div>
            <div class="card-body">
            
                <div class="row text-center">
            
                  <br>
                   
                {{testimony.body}} <br>
                  
               
              
                
            </div></div><div class="card-footer">
                  <small>Go to <a [routerLink]="['/testimony/testimonies']"> <code>all testimonies </code> </a> for changing the status </small>
                </div></div>
            
                <br>
                </div>
      </div>
      </div>
</div>
</div>